/* FOOTER */

.page-footer {
    background-color: var(--secondary-background-color);
  }
  .footer {
    display: flex;
  }
  
  /* Логотип-2 */
  
  .studio {
    color: var(--primary-background-color);
  }