/* Подписка */
.subscribe {
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: 93px;
  }
  
  .subscribe-slogan {
    display: block;
  
    width: 219px;
    margin-left: 93px;
    margin-bottom: 20px;
  
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
  
    color: var(--primary-background-color);
  }
  
  .input-btn {
    display: flex;
    margin-left: 93px;
  }
  .subscribe .input {
    position: relative;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
  
    border-radius: 4px;
    border: 1px solid var(--input-border);
  
    color: var(--footer-text-color);
    background-color: var(--secondary-background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .subscribe .input,
  .subscribe .input::placeholder {
    padding-top: 15px;
    padding-bottom: 15px;
  
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
  }
  .subscribe .input::placeholder {
    color: var(--footer-text-color);
    background-color: var(--secondary-background-color);
  }
  
  .subscribe .input:placeholder-shown {
    border-color: var(--form-comment);
  }
  
  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 50px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
  
    color: #ffffff;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .submit:hover {
    background-color: var(--btn-active);
  }
  .subscribe .submit::after {
    content: "";
    margin-left: 10px;
    width: 24px;
    height: 24px;
  
    background-image: url(../images/icons/form/plane.png);
  }
  